language: python

services:
  - postgresql

addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-server-dev-9.6

python:
  - 2.7

install:
  - pip install -r test_requirements.txt
  - pip install codecov

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - coverage run manage.py test

after_success: 
  - codecov
