# contains celery, celery_once, django, docker-py and redis
-r worker_requirements.txt

amqp==2.5
anyjson==0.3.*
billiard==3.6.*
configparser==4.0.*
django-constance[database]==2.6.*
django-filter==2.2.*
django-admin-rangefilter==0.5.*
django-crispy-forms==1.8.*
django-jsonfield==1.4.*
django-guardian==2.2.*
django-model-utils==4.0.*
djangorestframework==3.11.*
djangorestframework-guardian==0.3.*
flower==0.9.*
kombu==4.6.*
Mako==1.1.*
markdown==3.2.*
MarkupSafe==1.1.*
psycopg2==2.8.*
pytz==2018.*
requests
six==1.14.*
svn==1.0.*
websocket-client==0.57.*
