amqp==2.2
anyjson==0.3.3
backports.ssl-match-hostname==3.5.0.1
billiard==3.5
celery==4.1
celery-once==0.1.4
configparser==3.5.0
Django==1.11.*
django-constance[database]==2.0.0
django-filter==1.1
django-crispy-forms==1.7.0
django-jsonfield==1.0
django-guardian==1.4.9
django-model-utils==3.1
djangorestframework==3.7
docker-py==1.10
flower==0.9
kombu==4.1
Mako==1.0
markdown==2.6
MarkupSafe==1.0
psycopg2==2.7
pytz==2017.3 
redis==2.10.6
requests==2.18.4
six==1.11.0
svn==0.3.45
websocket-client==0.46.0

fakeredis==0.9.0
coverage==4.5
mock==2.0.0
